<div id="output"><div id="board"><div class="dp10 queue_column"><div class="headline">ProductMgt Ready</div><ul listidx="0" class="state" id="P_Q"></ul></div><div class="dp10"><div class="headline">ProductMgt</div><ul listidx="1" class="state" id="P"></ul></div><div class="dp10 queue_column"><div class="headline">Analysis Ready</div><ul listidx="2" class="state" id="D_Q"></ul></div><div class="dp10"><div class="headline">Analysis</div><ul listidx="3" class="state" id="D"></ul></div><div class="dp10 queue_column"><div class="headline">Development Ready</div><ul listidx="4" class="state" id="DE_Q"></ul></div><div class="dp10"><div class="headline">Development</div><ul listidx="5" class="state" id="DE"></ul></div><div class="dp10 queue_column"><div class="headline">Test Ready</div><ul listidx="6" class="state" id="T_Q"></ul></div><div class="dp10"><div class="headline">Test</div><ul listidx="7" class="state" id="T"></ul></div><div class="dp10 queue_column"><div class="headline">Release Ready</div><ul listidx="8" class="state" id="R_Q"></ul></div><div class="dp10"><div class="headline">Release</div><ul listidx="9" class="state" id="R"></ul></div></div></div>
<div class="clear"></div>

<!-- Color definitions for the boxes. Queues are all grey to not distract
     from the real work being done -->
<style type="text/css">
<!--
	#P .box { background-color: #FFFF00  ; color: #000000;}
	#P_Q .box { background-color: #F0F0F0; color: #606060;}
	#D .box { background-color: #FFC300; color: #000000;}
	#D_Q .box { background-color: #F0F0F0; color: #606060;}
	#DE .box { background-color: #B5DBFF  ; color: #000000;}
	#DE_Q .box { background-color: #F0F0F0; color: #606060;}
	#T .box { background-color: #A5C700; color: #ffffff;}
	#T_Q .box { background-color: #F0F0F0; color: #606060;}
	#R .box { background-color: #9CCFFF  ; color: #000000;}
	#R_Q .box { background-color: #F0F0F0; color: #606060;}
	-->
</style>

<!-- HERE ARE DRAGONS, DON'T CHANGE ! -->

<!-- Layout from the 1-line Grid Framework,
     http://www.vcarrer.com/2009/06/1-line-css-grid-framework.html -->
<style type="text/css">
<!--
    .button { background-color: #e0e0e0; color: #a0a0a0; padding: 0.2em; text-decoration: none;}
    .placeholder {border: 1px solid black; }
     ul { list-style: none; margin: 0 0 0 0; padding: 0 0 0 0;}
	 body { font-family: Helvetica; }
	 .box { font-size: 80%; padding: 0.2em; border: 1px solid black; margin-bottom: 1em; margin-right: 5px;}
	 .dp10 {width:9%;  float:left;  display: inline;  *margin-right:-1px; }
	 .clear {clear:both;}
	 .headline { font-weight: bold; height: 3em; color: #000000;}
	 .queue_column .headline { font-weight: bold; height: 3em; color: #d0d0d0;}
	 .footer { font-size: 80%; color: #808080; padding-top: 5em;}


	 -->
</style>

<!--	jQuery List DragSort v0.4 License: http://dragsort.codeplex.com/license -->
<%= javascript_include_tag 'jquery.dragsort' %>

<script language="JavaScript">
var app_data = {};

var init_app = function(){
	init_states();
}

var init_states = function() {
	$.getJSON("/statuses.json",function(status_data){
		var states = {};
		var states_order = [];
		for ( var i=0; i<status_data.length; i++ ) {
			var state = status_data[i]['status'];
			states[state.code] = state.name;
			states_order.push(state.code);
		}
		app_data['states'] = states;
		app_data['states_order'] = states_order
		init_stories();
	});
}

var init_stories = function(stories) {
	var board = {}
	$.getJSON("/stories.json",function(stories_data){
		for ( var i=0; i<stories_data.length; i++ ) {
			var story = stories_data[i]['story'];
			var state = story.status_code;
			if (! board[state]) {
				board[state] = [];
			}
			board[state].push(story);
		}
		app_data['board'] = board;
		create_board(app_data);
	});
}

var create_list = function(board, state) {
	var list = $("<ul class=\"state\" id=\"" + state + "\"></ul>");
	if (board[state]) {
		for (var i=0, len=board[state].length; i<len; i++) {
			var story = board[state][i];
			var story_element = $("<li><div class=\"box box_" + state  + "\">" + story.number + " " + story.name + "</div></li>");
			story_element.data("story",  story);
			list.append(story_element);
		}
	}
	return list;
}

var create_column = function(board, state, headline) {
	var state_column = $("<div class=\"dp10" + ((! /_Q$/.test(state)) ? "" : " queue_column")+ "\"></div>")
	state_column.append($("<div class=\"headline\">" + headline + "</div>"));
	state_column.append(create_list(board, state));
	state_column.data("state", state);
	return state_column;
}

var create_board = function(app_data) {
	var table = $("<div id=\"board\"></div>");
	var ids = "";
	for (j=0; j< app_data.states_order.length; j++) {
		var state = app_data.states_order[j]
		if (! /_Q$/.test(state)) {
			var queue_state = state + "_Q";
			ids += "#" + queue_state + ",";
		    var queue_state_column = create_column(app_data.board, queue_state, app_data.states[state] + " Ready")
			table.append(queue_state_column)

			ids += "#" + state + ","
			var state_column = create_column(app_data.board, state, app_data.states[state])
			table.append(state_column)
		}
	}
	$(ids, table).dragsort({ dragBetween: true, dragEnd: update_story_status});
	display_board(table);
}

var display_board = function(board_table){
	$("#output").empty();
	$("#output").append(board_table);
}

var update_story_status = function(){
	var story_id = $(this).data('story').id;
	var story_status = $(this).parent()[0].id;
	var story_url = "stories/" + story_id;
	var story_data = "story[status_code]=" + story_status;
	$.ajax({
		url: story_url,
		data: story_data,
		type: 'PUT',
		success: function() {}
	});
}

init_app();

</script>

<div class="clear"></div>