@import mixins

$fontHeading: 'Permanent Marker', pt sans caption, droid sans, arial, sans-serif
$fontBody: pt sans caption, droid sans, arial, sans-serif

html, body
  width: 100%
  height: 100%

  .scrollX
    overflow-x: scroll

  .scrollY
    overflow-y: scroll

  .noScrollX
    overflow-x: hidden

  .noScrollY
    overflow-y: hidden

body
  background-color: #fff
  color: #333
  font-family: $fontBody
  font-size: 13px
  margin: 0
  overflow-x: hidden

nav[role="banner"]
  background-color: #d3d7cf
  color: #888a8f
  overflow: hidden
  padding: 3px 9px
  position: relative
  z-index: 99

  h1.title
    img
      margin-top: -4px
      vertical-align: middle
    font-size: 16px
    font-weight: inherit
    float: left

  .actions
    float: right
    margin: 0
    padding: 0

#notify
  margin: 0 auto
  text-align: center

  .notification
    color: #000
    background: #ccf
    border-radius: 0 0 3px 3px
    margin-top: 3px
    padding: 3px 6px

    &.error
      color: #fff
      background: #900

    &.warning
      color: #fff
      background: #950

h1
  font-family: $fontHeading
  font-weight: normal

  a
    color: inherit
    text-decoration: none

h1, h2, th
  margin: 0

h2, th
  text-align: center

section > h2
  font-family: $fontHeading
  margin: 24px 0 0
  font-size: 32px
  font-weight: normal

a
  +transition(color 0.25s)
  color: #79c

  &:active, &:hover
    color: orange
    text-decoration: underline

nav
  text-align: center
  color: #ccc

  a
    padding: 3px 6px
    text-decoration: none

    &:active, &:hover
      color: orange
      text-decoration: underline

.card,
.card-placeholder
  +box-sizing
  padding: 1ex 1.25ex
  margin: 3px 0
  border-radius: 3px

.card
  +box-shadow(inset 0 0 0 1px rgba(255,255,255,0.3), 1px 1px 2px 0 rgba(0,0,0,0.1))
  +transition(opacity 0.2s)
  background-color: #eee
  border: 1px solid rgba(0,0,0,0.2)
  background-color: #eee
  opacity: 1

  h3
    font-size: inherit
    line-height: inherit
    margin: 0

  p
    line-height: 1.3em
    margin: 0.6em 0 0

    &:first-child
      margin-top: 0

  &.unsaved
    opacity: 0.6

.card-placeholder
  background-color: #fffff7
  border: 1px dashed #eed
  margin: 6px 3px

.clear
  clear: both

#board
  width: 100%

  &.drag
    ul:hover
      background-color: #ffc

.control
  float: right
  color: #babdb6
  text-align: center
  font-size: 200%
  cursor: pointer
  &:active, &:hover
    color: #fc0
  &.new_deck
    width: 5%
    position: absolute
    top: 1em
    bottom: 0
    right: 0
    &:hover
      background-color: #ffd
  &.delete_deck
    padding: 0 0.5em

.deck
  +box-sizing
  cursor: default
  border-right: 1px solid #eeeeec
  float: left
  width: 10%
  &.in_use
    .control.delete_deck
      visibility: hidden

  h2
    font-size: 100%
    font-weight: normal
    color: #000
    margin: 6px
    vertical-align: bottom
    padding: 0 3px

.cardHolder
  list-style: none
  margin: 0
  padding: 0 6px 0
  min-height: 25%
  height: 100%

  &>li
    // container for .card
    position: relative

    &:hover .close
      opacity: 0.8

      &:hover
        opacity: 1

    .close
      +transition(opacity 100ms)
      background: url(/assets/close.png)
      opacity: 0
      width: 32px
      height: 32px
      position: absolute
      right: -12px
      top: -12px

.card
  cursor: move

  ul
    padding-left: 3ex

    ul
      padding-left: 2ex

    li
      list-style-type: disc

      li
        list-style-type: circle

        li
          list-style-type: square

.queue_deck
  h2
    color: #ddd

.footer
  font-size: 10px
  color: #888
  padding-top: 5em

form
  display: block
  padding: 6px 12px 12px !important
  margin: 2em auto 0 !important
  width: 75%
  border-bottom: 1px solid #ccc

  & + .actions,
  & + a
    margin-right: 25%
    float: right
    text-align: right
    padding: 12px

  & + .actions
    color: #ccc
    padding-right: 0

    a
      padding: 3px 6px

.ui-dialog
  .loading
    color: #777
    padding: 1em
    text-align: center
    text-decoration: blink

  form
    border: none
    margin: 6px 0 0 !important
    padding-bottom: 0 !important
    width: auto

    textarea
      height: 18em

    li
      margin: 0 !important

  .buttons,
  .actions
    display: none

#card_deck_input
  display: none
