<!DOCTYPE html>
<html>
<head>
  <title>Simple Kanban</title>
</head>
<body>
	<div class='container'>
        <header>
	<h1>Kanban Board</h1>
	<nav>
		<%= link_to 'Wall', root_path %> | 
		<%= link_to 'Stories', stories_path %> |
		<%= link_to 'Status', statuses_path %>
	</nav>
	<p></p>
        </header>
		<section>
			<%= yield %>
		</section>
	</div>
</body>
</html>
